
@{
    ViewBag.Title = "Tratamiento";
}
<br />
<br />
<br />
<br />
<section class="banner-sec">
    <!--Contenido de los tratamientos que ofrece la empresa-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/Endodoncia.png" alt="Endodoncia">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Endodoncia</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="news-des">La endodoncia, también conocida como tratamiento de conductos, es el procedimiento que utilizan los odontólogos para eliminar -en parte o en su totalidad- la pulpa del diente y sellar el conducto pulpar.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.800.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.440.000</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/odontologia.jpg" alt="Odontolog&iacute;a general">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Odontolog&iacute;a general</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">La sonrisa es una de las expresiones faciales m&aacute;s importantes que diferencia al ser humano del resto de los animales. Se utiliza como parte del lenguaje, expresando alegr&iacute;a felicidad o placer. Una buena sonrisa es la mejor carta de presentaci&oacute;n.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.200.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $960.000</h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/odontopediatria.png" alt="Odontopediatr&iacute;a">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Odontopediatr&iacute;a</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">La odontopediatr&iacute;a es la rama de la odontolog&iacute;a encargada de tratar a los niños, que promueve la salud oral infantil con el objetivo de mantener unos dientes sanos hasta que los niños alcancen la edad adulta.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.600.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.280.000</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/ortodoncia.jpg" alt="Ortodoncia">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Ortodoncia</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">La ortodoncia es la especialidad de la odontolog&iacute;a que se encarga del estudio, prevenci&oacute;n, diagn&oacute;stico y tratamiento de las anomal&iacute;as de forma, posici&oacute;n, relaci&oacute;n y funci&oacute;n de las estructuras dento-maxilofaciales.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.700.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.360.000</h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/implante.png" alt="Implantes">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Implantes dentales</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">Los implantes dentales son raíces artificiales de titanio que se colocan en el hueso cuando se ha producido una p&eacute;rdida de una pieza dental. La principal funci&oacute;n del implante es la de reemplazar el diente perdido.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.900.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.520.000</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/blanqueamiento.png" alt="Blanqueamiento dental">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Blanqueamiento dental</span></div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">Este es otro procedimiento para conseguir el blanco natural de tus dientes. Para ello utilizamos  una f&eacute;rula a medida que se ajustar&aacute; a la  dentadura del paciente y aplicamos el agente blanqueador (gel de per&oacute;xido de carbamida o de hidrógeno) a la dentadura.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.300.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.040.000</h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/periodoncia.png" alt="Periodoncia">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Periodoncia</span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">La periodoncia es una especialidad m&eacute;dico-quir&uacute;rgica odontol&oacute;gica que estudia la prevenci&oacute;n, diagn&oacute;stico y tratamiento de las encías y condiciones que afectan los tejidos que dan soporte a los dientes.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>1.850.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.480.000</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="img-tratamiento" src="~/Images/carrillas.jpg" alt="">
                    <div class="card-img-overlay"><span class="badge badge-pill badge-danger">Carillas bucales de Porcelana</span></div>
                    <div class="card-body">
                        <div class="news-title">
                            <p class="card-text">Este tipo de tratamiento dental consiste en la implantaci&oacute;n de unas fundas est&eacute;ticas compuestas por porcelana y elaboradas con resinas dentales que se colocan sobre nuestros dientes simulando su apariencia.</p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Precio normal: $<strike>2.000.000</strike></p>
                        <p class="card-text">
                            <h4 class="text-time">Precio con descuento: $1.600.000</h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--./Tratamientos que ofrece la empresa-->

    </div>
    <!--Contenido de los tratamientos que ofrece la empresa-->
</section>
